.wrap {
  width: 1000px;
  margin: 0 auto; }

section {
  overflow: hidden;
  box-shadow: 0 2px 20px #c6c6c6; }
  section .title {
    width: 960px;
    height: 58px;
    background: url("../images/Z_bg39.gif") no-repeat left 2px;
    margin: 40px auto 0; }
    section .title p:nth-child(1) {
      float: left;
      padding-left: 10px; }
    section .title p:nth-child(2) {
      float: right;
      color: #828282;
      padding-right: 10px; }
      section .title p:nth-child(2) a {
        color: #828282;
        font-size: 15px; }
      section .title p:nth-child(2) a:hover {
        color: #000; }
  section .nav {
    height: 36px;
    width: 900px;
    position: relative;
    overflow: hidden;
    padding-bottom: 35px;
    margin: 0 auto; }
    section .nav .nav_L:hover {
      background: url(../images/Z_bg102.gif) no-repeat left top; }
    section .nav .nav_L {
      display: block;
      width: 14px;
      height: 14px;
      position: absolute;
      left: 0;
      top: 10px;
      z-index: 2;
      background: url(../images/Z_bg101.gif) no-repeat left top; }
    section .nav .nav_R:hover {
      background: url(../images/Z_bg102.gif) no-repeat right top; }
    section .nav .nav_R {
      display: block;
      width: 14px;
      height: 14px;
      position: absolute;
      right: 0;
      top: 10px;
      z-index: 2;
      background: url(../images/Z_bg101.gif) no-repeat right top; }
    section .nav .nav-s {
      width: 2000rem;
      height: 36px;
      background: url(../images/Z_bg105.gif) repeat-x left center;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1; }
      section .nav .nav-s li {
        width: 180px;
        height: 36px;
        float: left; }
        section .nav .nav-s li a {
          display: block;
          width: 180px;
          height: 36px;
          background: url(../images/Z_bg103.gif) no-repeat right center;
          text-align: center;
          color: #aaaaaa; }
          section .nav .nav-s li a span {
            height: 18px;
            display: block;
            font-size: 10px;
            line-height: 18px;
            text-transform: uppercase;
            color: #828282; }
          section .nav .nav-s li a b {
            height: 18px;
            display: block;
            font-size: 14px;
            line-height: 18px;
            font-weight: normal;
            color: #828282; }
        section .nav .nav-s li a:hover {
          background: url(../images/Z_bg104.gif) no-repeat right center; }
          section .nav .nav-s li a:hover span {
            color: #000; }
          section .nav .nav-s li a:hover b {
            color: #000; }
      section .nav .nav-s li:nth-child(1) a {
        background: url(../images/Z_bg104.gif) no-repeat right center; }
        section .nav .nav-s li:nth-child(1) a span {
          color: #000; }
        section .nav .nav-s li:nth-child(1) a b {
          color: #000; }
  section .content {
    width: 970px;
    margin: 0 auto; }
    section .content h3 {
      width: 100%;
      text-align: center;
      height: 95px;
      font-weight: bold; }
      section .content h3 span {
        display: block;
        font-size: 26px;
        line-height: 30px;
        height: 30px;
        color: #2d2e2e;
        padding-bottom: 5px;
        border-bottom: 1px solid #ccc; }
    section .content ol {
      width: 970px;
      margin: 0 auto;
      padding-bottom: 30px;
      border-bottom: 1px solid #ccc;
      margin-bottom: 8px; }
      section .content ol li {
        width: 100%;
        margin: 0 auto; }
    section .content .content-s {
      width: 970px;
      height: 20px;
      line-height: 20px;
      padding-bottom: 50px; }
      section .content .content-s a {
        display: block;
        padding-left: 10px; }
        section .content .content-s a span {
          padding-left: 15px;
          background: url(../images/Z_bg46.gif) no-repeat left center;
          display: block; }
