*{
    margin:0;
    padding:0;
}
a{
    text-decoration:none;
    color:#000;
}
img{
    vertical-align:top;
}
ol,ul,dl{
    list-style:none;
}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
    font-size:12px;
}
b,strong{
    font-weight:normal;
}
i,em{
    font-style:normal;
}
input{
    outline:none;
}
textarea{
    outline:none;
    resize:none;
}
table{
    border-collapse: collapse;
}