.wrap {
  width: 1000px;
  margin: 0 auto; }

section {
  overflow: hidden;
  box-shadow: 0 2px 20px #c6c6c6;
  padding-bottom: 30px; }
  section .title {
    width: 960px;
    height: 58px;
    background: url("../images/Z_bg39.gif") no-repeat left 2px;
    margin: 40px auto 0; }
    section .title p:nth-child(1) {
      float: left;
      padding-left: 10px; }
    section .title p:nth-child(2) {
      float: right;
      color: #828282;
      padding-right: 10px;
      font-size: 15px; }
      section .title p:nth-child(2) a {
        color: #828282; }
      section .title p:nth-child(2) a:hover {
        color: #000; }
  section .nav {
    height: 36px;
    width: 900px;
    position: relative;
    overflow: hidden;
    padding-bottom: 35px;
    margin: 0 auto; }
    section .nav .nav_L:hover {
      background: url(../images/Z_bg102.gif) no-repeat left top; }
    section .nav .nav_L {
      display: block;
      width: 14px;
      height: 14px;
      position: absolute;
      left: 0;
      top: 10px;
      z-index: 2;
      background: url(../images/Z_bg101.gif) no-repeat left top; }
    section .nav .nav_R:hover {
      background: url(../images/Z_bg102.gif) no-repeat right top; }
    section .nav .nav_R {
      display: block;
      width: 14px;
      height: 14px;
      position: absolute;
      right: 0;
      top: 10px;
      z-index: 2;
      background: url(../images/Z_bg101.gif) no-repeat right top; }
    section .nav .nav-s {
      width: 2000rem;
      height: 36px;
      background: url(../images/Z_bg105.gif) repeat-x left center;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1; }
      section .nav .nav-s li {
        width: 180px;
        height: 36px;
        float: left; }
        section .nav .nav-s li a:nth-child(1):hover {
          color: #000;
          background: url(../images/Z_bg104.gif) no-repeat right center;
          font-weight: bold; }
        section .nav .nav-s li a {
          display: block;
          width: 180px;
          height: 36px;
          background: url(../images/Z_bg103.gif) no-repeat right center;
          text-align: center;
          color: #aaaaaa; }
          section .nav .nav-s li a span {
            height: 18px;
            display: block;
            font-size: 10px;
            line-height: 18px;
            text-transform: uppercase; }
          section .nav .nav-s li a b {
            height: 18px;
            display: block;
            font-size: 14px;
            line-height: 18px; }
      section .nav .nav-s li:nth-child(4) a {
        color: #000;
        background: url(../images/Z_bg104.gif) no-repeat right center;
        font-weight: bold; }
  section .content {
    width: 980px;
    height: 98px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    background: url("../images/Z_bg40s.png") no-repeat center top; }
    section .content h2 {
      float: left;
      font-size: 32px;
      color: #000;
      font-weight: bold;
      width: 390px;
      padding-top: 20px;
      padding-left: 90px; }
      section .content h2 i {
        color: #cb0157; }
    section .content h3 {
      width: 405px;
      padding-top: 28px;
      float: left; }
      section .content h3 a {
        float: left;
        width: 120px;
        color: #333; }
        section .content h3 a span {
          float: left;
          display: block;
          width: 33px;
          height: 34px;
          margin-right: 5px;
          background: url("../images/Z_bg34s.jpg") no-repeat left; }
        section .content h3 a i {
          float: left;
          font-weight: bold; }
        section .content h3 a b {
          float: left; }
      section .content h3 a:hover {
        color: #cb0157; }
        section .content h3 a:hover span {
          background: url("../images/Z_bg35s.jpg") no-repeat left; }
    section .content h4 {
      width: 95px;
      float: left;
      padding-top: 28px; }
      section .content h4 a span:nth-child(1) {
        float: left;
        width: 34px;
        height: 34px;
        margin-right: 5px;
        background: url("../images/Z_bg36s.jpg") no-repeat center; }
      section .content h4 a span:nth-child(2) {
        float: left;
        width: 34px;
        height: 34px;
        background: url("../images/Z_bg39s.jpg") no-repeat center; }
      section .content h4 a span:nth-child(1):hover {
        background: url("../images/Z_bg37s.jpg") no-repeat center; }
      section .content h4 a span:nth-child(2):hover {
        background: url("../images/Z_bg38s.jpg") no-repeat center; }
  section .address {
    width: 980px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 50px; }
    section .address p {
      font-size: 12px;
      color: #333; }
    section .address h5 {
      margin-top: 5px;
      width: 100%;
      height: 70px;
      background: url("../images/Z_bg41s.png") no-repeat left top; }
      section .address h5 b {
        display: block;
        height: 18px;
        line-height: 18px;
        padding-top: 20px;
        padding-left: 60px;
        color: #000;
        font-size: 14px; }
      section .address h5 span {
        display: block;
        height: 12px;
        line-height: 12px;
        padding-left: 60px;
        text-transform: uppercase;
        font-size: 10px; }
    section .address h4 {
      width: 945px;
      height: 455px;
      overflow: hidden;
      padding: 8px;
      border: 1px solid #CCC;
      margin: 0 auto; }
