.wrap {
  width: 1000px;
  margin: 0 auto; }

section {
  overflow: hidden;
  box-shadow: 0 2px 20px #c6c6c6; }
  section .title {
    width: 960px;
    height: 58px;
    background: url("../images/Z_bg39.gif") no-repeat left 2px;
    margin: 40px auto 0; }
    section .title p:nth-child(1) {
      float: left;
      padding-left: 10px; }
    section .title p:nth-child(2) {
      float: right;
      color: #828282;
      padding-right: 10px;
      font-size: 15px; }
      section .title p:nth-child(2) a {
        color: #828282; }
      section .title p:nth-child(2) a:hover {
        color: #000; }
  section .nav {
    height: 36px;
    width: 900px;
    position: relative;
    overflow: hidden;
    padding-bottom: 35px;
    margin: 0 auto; }
    section .nav .nav_L:hover {
      background: url(../images/Z_bg102.gif) no-repeat left top; }
    section .nav .nav_L {
      display: block;
      width: 14px;
      height: 14px;
      position: absolute;
      left: 0;
      top: 10px;
      z-index: 2;
      background: url(../images/Z_bg101.gif) no-repeat left top; }
    section .nav .nav_R:hover {
      background: url(../images/Z_bg102.gif) no-repeat right top; }
    section .nav .nav_R {
      display: block;
      width: 14px;
      height: 14px;
      position: absolute;
      right: 0;
      top: 10px;
      z-index: 2;
      background: url(../images/Z_bg101.gif) no-repeat right top; }
    section .nav .nav-s {
      width: 2000rem;
      height: 36px;
      background: url(../images/Z_bg105.gif) repeat-x left center;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1; }
      section .nav .nav-s li {
        width: 180px;
        height: 36px;
        float: left; }
        section .nav .nav-s li a:nth-child(1):hover {
          color: #000;
          background: url(../images/Z_bg104.gif) no-repeat right center;
          font-weight: bold; }
        section .nav .nav-s li a {
          display: block;
          width: 180px;
          height: 36px;
          background: url(../images/Z_bg103.gif) no-repeat right center;
          text-align: center;
          color: #aaaaaa; }
          section .nav .nav-s li a span {
            height: 18px;
            display: block;
            font-size: 10px;
            line-height: 18px;
            text-transform: uppercase; }
          section .nav .nav-s li a b {
            height: 18px;
            display: block;
            font-size: 14px;
            line-height: 18px; }
      section .nav .nav-s li:nth-child(2) a {
        color: #000;
        background: url(../images/Z_bg104.gif) no-repeat right center;
        font-weight: bold; }
  section .content {
    width: 100%; }
    section .content h3 {
      width: 970px;
      margin: 0 auto;
      text-align: center;
      height: 95px;
      font-weight: bold; }
      section .content h3 span {
        display: block;
        font-size: 26px;
        line-height: 30px;
        height: 30px;
        color: #2d2e2e;
        padding-bottom: 5px;
        border-bottom: 1px solid #ccc; }
    section .content .content_s {
      width: 100%;
      display: -webkit-box; }
      section .content .content_s li {
        -webkit-box-flex: 1;
        height: 330px;
        position: relative; }
        section .content .content_s li a:hover h3 {
          background: url("../images/Z_bg25.png") no-repeat center; }
        section .content .content_s li a:hover h5 {
          display: block; }
        section .content .content_s li a h3 {
          width: 216px;
          height: 216px;
          margin: 0 auto;
          overflow: hidden;
          background: url("../images/Z_bg26.png") no-repeat center; }
          section .content .content_s li a h3 img {
            display: block;
            width: 196px;
            height: 196px;
            margin: 11px auto 0;
            border-radius: 50%; }
        section .content .content_s li a h4 {
          font-size: 18px;
          line-height: 20px;
          color: #9e9e9e;
          padding-top: 10px;
          text-align: center; }
        section .content .content_s li a p {
          width: 100%;
          font-size: 22px;
          line-height: 32px;
          color: #828282;
          padding-top: 8px;
          text-align: center; }
        section .content .content_s li a h5 {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 115px;
          background: #fff;
          display: none; }
          section .content .content_s li a h5 img {
            display: block;
            margin: 20px auto 0; }
