
header{
  height:98px;
  width:100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
.h12{
  height:98px;
  width:100%;
}
.h1{
  width:100%;
  height:18px;
  background: #cdcdcd;
  line-height: 18px;
}
.h1 li{
  margin-left:10px;
}
.h1 .h3{
  margin-left:800px;
}
.h1 li b{
  background: url(../images/q1.png) no-repeat;
  width:12px;
  height: 8px;
  margin-top:5px;
}
.h1 li .h4{
  background: url(../images/q2.png) no-repeat;
}
.h1 li .h5{
  margin-top:6px;
  background: url(../images/q3.png) no-repeat;
}
.h1 li .h6{
  background: url(../images/q4.png) no-repeat;
}
.h1 li a{
  font-size:12px;
  color:#fff;
  margin-left:4px;
}
.h2{
  width:100%;
  height:80px;
  background:url(../images/qbg.jpg) repeat-x;
}
h1{
  width:350px;
  height:60px;
  background: url(../images/logo.png) no-repeat;
  margin-left:240px;
  margin-right:60px;
}
h1 a{
  width:100%;
  height:100%;
  text-indent: -999em;
  display:block;
}
.h7  .hh7{
  width:72px;
  height: 38px;
  margin-top:20px;
  margin-left:10px;
}
.hh7 a{
  font-size:12px;
  color:#666;
  top:4px;
  left:0;
}
/*.h7:hover .h7 div a{
    color:#A00;
}*/
.h7 div p{
  margin-left:6px;
  font-size:12px;
  color:#bbb;
  top:20px;
  left:0;
}
.h7 div .h8{
  margin-left:-10px;
}
.h7 div .h9{
  margin-left:-6px;
}
.h7 div .h10{
  margin-left:-10px;
}
.h7 div .h11{
  margin-left:-6px;
}
.h7 b{
  width:16px ;
  height: 28px;
  background: url(../images/q5.png) no-repeat;
  margin-top:20px;
}
/* 头 */
.sec1{
  width:100%;
  height: 668px;
}
.secc{
  width:100%;
  height: 668px;
}
.sec1 img{
  width:100%;
  height: 100%;
}
.sec2{
  width:100%;
  height: 210px;
  bottom:0;
  left:0;
  background: url(../images/qbg.jpg) no-repeat;
  background-size:100%;
  opacity: 0.3;
}
.sec3{
  height:210px;
  top:458px;
  left:380px;
}
.sec4{
  width:470px;
  height: 210px;
}
.sec4 img{
  margin-top:40px;
  margin-left:190px;
  width:206px;
  height: 32px;
  margin-bottom: 16px;
}
.sec5{
  width: 100%;
  height:36px;
  line-height: 36px;
  margin-left: 42px;
}
.sec5 b{
  margin-right:4px;
  width:34px;
  height: 34px;
  background: url(../images/q9.png) no-repeat;
}
.sec5 a{
  font-size:24px;
  color:#000;
  font-weight:bold;
  margin-right:10px;
}
.sec6{
  width:194px;
  height: 30px;
  border:1px solid #999;
  background: #fff;
  line-height: 30px;
  padding-left:6px;
  font-size:14px;
  color:#999;
}
.sec7{
  width:60px;
  height: 28px;
  border:1px solid #c0c0c0;
  background: #000;
  line-height: 28px;
  text-align: center;
  font-size:20px;
  color:#fff;
  margin-left:18px;
  margin-top:2px;
}
.sec8{
  position: absolute;
  top:130px;
  left:210px;
}
.sec8 li{
  width:64px;
  height:20px;
}
.sec8 li i{
  width:64px;
  height:22px ;
  background: url(../images/q10.png) no-repeat;
}
.sec8 li a{
  font-size:12px;
  color:#fff;
  top:2px;
  left:18px;
}
.sec8 .sec9{
  left:100px;
}
.se1{
  width:286px;
  height: 210px;
  margin-left:120px;
}
.se1 img{
  width:126px;
  height: 38px;
  margin-top:38px;
  margin-left:4px;
}
.se2{
  margin-left:16px;
  margin-top:30px;
}
.se2 .se6{
  width:140px;
  height: 48px;
}
.se2 .se3{
  width:46px;
  height: 14px;
  margin-top:0px;
}
.se2 .se4{
  width:56px;
  height: 16px;
  margin-top:0px;
  margin-left:34px;
}
.se2 .se5{
  width:136px;
  height: 26px;
  margin-top:-26px;
}
.se1 ul{
  margin-top:14px;
}
.se1 ul li img{
  width:48px;
  height: 48px;
  margin-top:-20px;
}
.se1 ul li .se7{
  margin-left:14px;
  margin-right:14px;
}
.se1 .se7 .se8{
  margin-right:10px;
}
.se1 .se7 .se8 .se9{
  width:58px;
  height: 14px;
  margin-top:8px;
  margin-left:20px;
}
.se7 .se8 p{
  width:102px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  background: #fff;
  font-size:10px;
  color:#000;
  margin-top:8px;
}
.se7 .se10 p{
  text-align: left;
  line-height:22px;
  width:135px;
}
.hide-1{
  display:none;
}
.right-1{
  position:absolute;
  right:270px;
  top:226px;
  width:28px;
  height:50px;
  background:url(../images/qbg15.png) 28px 0px;
}
.right-1:hover{
  background: url(../images/qbg15.png) 28px 50px;
}
.left-1{
  position:absolute;
  left:270px;
  top:226px;
  width:28px;
  height:50px;
  background: url(../images/qbg15.png) 0px 0px;
}
.left-1:hover{
  background: url(../images/qbg15.png) 0px 50px;
}




.foot {
  clear: both;
  width: 100%;
  background: url(../images/C_bg34.gif) repeat-x center top #cacaca;
   }
  .foot .foot-1 {
    background: url("../images/C_bg33.gif") no-repeat left top;
    width: 1000px;
    height: 84px;
    display: block;
    margin: 0 auto; }
    .foot .foot-1 .phone {
      width: 235px;
      float: left;
      padding-top: 50px; }
      .foot .foot-1 .phone b {
        white-space: nowrap;
        font-family: Microsoft YaHei;
        font-size: 22px;
        color: #414141;
        font-weight: bold;
        padding-left: 52px;
        display: block; }
        .foot .foot-1 .phone b em {
          color: #dc0000; }
    .foot .foot-1 .add {
      width: 483px;
      float: left;
      padding-top: 36px;
      padding-left: 20px; }
      .foot .foot-1 .add a {
        color: #333;
        cursor: pointer; }
        .foot .foot-1 .add a b {
          white-space: nowrap;
          font-family: "Microsoft YaHei";
          font-size: 14px;
          color: #6b6b6b;
          font-weight: bold;
          line-height: 18px; }
    .foot .foot-1 .share {
      width: 145px;
      float: left;
      padding-left: 27px;
      padding-top: 40px; }
      .foot .foot-1 .share ul li {
        float: left;
        padding-right: 5px; }
        .foot .foot-1 .share ul li a .C_img_2 {
          display: none; }
    .foot .foot-1 .ontop {
      float: left;
      padding-top: 18px;
      padding-left: 25px; }
      .foot .foot-1 .ontop a {
        display: block; }
        .foot .foot-1 .ontop a .C_img_3 {
          display: none; }
  .foot .foot-nav {
    clear: both;
    width: 1000px;
    margin: 0 auto;
    height: 103px;
    padding-top: 36px; }
    .foot .foot-nav .cccc {
      float: left;
      display: block;
      width: 320px;
      text-align: center; }
    .foot .foot-nav ul {
      float: left;
      width: 660px;
      display: block; }
      .foot .foot-nav ul li {
        float: left;
        padding-right: 20px;
        padding-bottom: 12px; }
        .foot .foot-nav ul li a:hover i {
          display: none; }
        .foot .foot-nav ul li a:hover b {
          display: block;
          background: #000;
          font-weight: bold;
          font-family: Verdana, Geneva,           sans-serif;
          font-size: 14px;
          text-transform: uppercase; }
        .foot .foot-nav ul li a {
          width: 120px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          display: block;
          background: #fff; }
          .foot .foot-nav ul li a i {
            display: block;
            font-family: Verdana, Geneva, sans-serif;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: bold;
            color: #a8a8a8; }
          .foot .foot-nav ul li a b {
            display: none;
            color: #fff; }
  .foot .ltd {
    width: 970px;
    margin: 0 auto;
    padding-top: 22px;
    padding-bottom: 20px;
    color: #fff; }
    .foot .ltd p {
      line-height: 16px;
      display: block; }
      .foot .ltd p a {
        color: #fff; }
    .foot .ltd i {
      line-height: 16px;
      display: block;
      font-family: Verdana, Geneva, sans-serif;
      font-size: 10px;
      text-transform: uppercase; }

.ltd1 {
  clear: both;
  width: 970px;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 10px;
  color: #fff; }
  .ltd1 span {
    color: #ccc;
    line-height: 18px;
    display: block;
    padding-top: 10px;
    font-size: 12px; }
    .ltd1 span a {
      color: #ccc;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 12px; }
    .ltd1 span a:hover {
      color: #666;
      text-decoration: underline;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 12px; }
.foot .foot-1 .share ul li a:hover .C_img_1{
  display: none;
}
.foot .foot-1 .share ul li a:hover .C_img_2{
  display: block;
}
.r-aa{
  position: fixed;
  z-index: 999;
  right: -5px;
  bottom: 200px;
  display: inline-block;
  width: 20px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  line-height: 17px;
  background: red;
  box-shadow: 0 0 5px #666;
  word-wrap: break-word;
  padding: 10px 6px;
  border: 2px solid white;
}