<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/base.css" rel="stylesheet"/>
    <link href="../css/common.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/foot.css"/>
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/vue2.2.0.js"></script>
    <script src="../js/index.js"></script>
    <script>
        $(function(){
            $("html,body").animate({"scrollTop":"460px"},1000);
        })
    </script>
    <style>
        [v-cloak]{
            display:none
        }
        section{background:#fff; width:100%;  }
        .t-in{ width: 1002px;margin:0 auto; box-shadow:0px 0px 20px 0px #d2d2d2;
            border-left:1px solid #c6c6c6;
            border-right:1px solid #c6c6c6;}
        .img{height:136px; width:1002px;}
        .op-1{width:135px; height:34px; background:red; position:absolute; top:106px; left:72px; opacity:0;  }
        .op-2{width:135px; height:34px; background:green; position:absolute; top:106px; left:250px; opacity:0;  }
        .op-3{width:135px; height:34px; background:yellow; position:absolute; top:106px; left:432px; opacity:0;         }
        .op-4{width:135px; height:34px; background:pink; position:absolute; top:106px; left:616px; opacity:0;  }
        .relative{position:relative; }
        .ul-1{width:968px; padding-left:16px; margin-top:52px; }
        .list-1{width:234px; height:350px; }
        .li-1{margin-left:8px; width:234px; height:414px; overflow:hidden; position: relative;}
        .list-2, .list-3, .list-4{background:#fcfcfc; height:50px;width:234px; text-align:center; line-height:50px;font-size:12px; color:#bdbdbd;     }
        .num-1{font-size:12px; color:#999; margin-left:874px; }
        .page-1, .page-2{font-size:12px; color:#333;border:1px solid #dbdbdb; text-align:center; padding:6px 8px; margin-right:6px;  }
        .mov-1{width:298px; height:194px;}
        .mov{width:972px; border-bottom:1px dashed #4b4b4b; padding-bottom:26px; margin-bottom:28px;  }
        .mov-3:hover{background:#dbdbdb; }
        .mov-2{font-size:18px; color:#313131; margin-top:8px;}
        .mov-3{padding-left:24px; width:625px; height:194px;}
        .mov-4{font-size:12px; color:#878686;margin-bottom:12px; margin-top:10px; }
        .mov-5{font-size:12px; color:#d2d2d2; }
        .page-1:hover{color:#669900; }
        .on, .in, .out{width:234px; height:400px;  background:rgba(215,215,215,0.3);; position:absolute;top:400px; left:0;text-align:center; }
        .p1{font-size:22px; color:#fff;margin-top:128px;}
        .p2{font-size:28px; color:#fff;margin-top:22px; }
        .hide{width:234px; height:14px; background:#fff; position:absolute; top:400px; left:0; z-index:2; }
    </style>
    <script>
        $(function(){
            var vm=new Vue({
                el:'#box',
                data:{
                    onload:'加载失败',
                    img:'../images/sm.gif',
                    arr:['全新《MUSE秘密花园》','2017公主日记','全新《童话》系列','《蕾奥娜》系列','全新《唯爱III》系列','全新《敢爱》系列','《倾城复古》系列','《爱慕III》系列','《倾慕》系列'],
                    arr1:['../images/z-5.jpg','../images/z-6.jpg','../images/z-7.jpg','../images/z-8.jpg','../images/z-9.jpg','../images/z-10.jpg','../images/z-11.jpg','../images/z-12.jpg','../images/z-13.jpg'],
                    arr2:['三月客照（二）','三月客照（一）','二月客照（一）','一月最新客照','刘小姐韩式婚纱照','李小姐韩式婚纱照','邹小姐韩式婚纱照','十二月第四周客照','十二月第三周客照','刘小姐韩式婚纱照','吴小姐韩式婚纱照','唐小姐韩式婚纱照','冯小姐韩式婚纱照','十一月第一周客照','十月第三周客照','十月第二周客照','《MUSE花园IV》客照','十月第一周客照','九月第二周客照','九月第二周客照'],
                    arr3:['../images/z-20.jpg','../images/z-21.jpg','../images/z-22.jpg','../images/z-23.jpg','../images/z-24.jpg','../images/z-25.jpg','../images/z-26.jpg','../images/z-27.jpg','../images/z-28.jpg','../images/z-29.jpg','../images/z-30.jpg','../images/z-31.jpg','../images/z-32.jpg','../images/z-33.jpg','../images/z-34.jpg','../images/z-35.jpg','../images/z-36.jpg','../images/z-37.jpg','../images/z-38.jpg','../images/z-39.jpg'],
                    arr4:['2017秘密花园','全新《童话》系列','全新《敢爱》','《唯爱》系列','《雷奥娜》系列','全新《爱慕III》系列'],
                    arr5:['../images/z-40.jpg','../images/z-41.jpg','../images/z-42.jpg','../images/z-43.jpg','../images/z-44.jpg','../images/z-45.jpg'],
                    arr6:['2017最新场景视频','2017秘密花园','展会2','暮色1','2016作品集','爱慕III全新发布','2016《敢爱》发布','星尚频道媒体报道【一站式新品发布会】','韩国幕色品牌介绍','《MUSE样照拍摄花絮》','星尚频道邀您品鉴韩国2015国际造型拍摄流程','2014最韩新娘课堂造型妆容发布会'],
                    arr7:['../images/z-50.jpg','../images/z-51.jpg','../images/z-52.jpg','../images/z-53.jpg','../images/z-54.png','../images/z-55.jpg','../images/z-56.jpg','../images/z-57.jpg','../images/z-58.jpg','../images/z-59.jpg','../images/z-60.jpg','../images/z-61.jpg'],
                    arr8:['DATE：2017-03-30 播放：8542次观看','DATE：2017-03-30 播放：10035次观看','DATE：2016-10-20 播放：419次观看','DATE：2016-10-20 播放：316次观看','DATE：2016-10-20 播放：324次观看','DATE：2016-09-02 播放：522次观看','DATE：2016-09-02 播放：631次观看','DATE：2016-09-02 播放：819次观看','DATE：2016-09-02 播放：3647次观看','DATE：2016-09-02 播放：1404次观看','DATE：2016-09-02 播放：648次观看','DATE：2016-09-02 播放：698次观看'],
                    arr9:['/uploads/xinchangjing.flv','/uploads/mimihuayun.flv','/uploads/zhanhui2.flv','/uploads/musel.flv','/uploads/2016zpj.flv','蕾丝、柔纱、神秘而梦幻的色彩、璀璨的水晶灯‥‥‥就像穿梭于欧洲皇室宫廷,<爱慕III>震撼发布 期待您的咨询','1001朵来自保加利亚玫瑰谷的纯手工蔷薇 象征着永恒不变的爱情 同时也赋予女性专属之美','星尚频道媒体报道【一站式新品发布会】','韩国幕色婚纱摄影品牌于2006年8月在韩国首尔艺术殿堂清潭洞成立，由著名影视明星赵允熙代言，致力于婚纱摄影行业，开发拍摄最浪漫、最唯美的婚纱摄影作品，凭其先进的管理理念，创新的','独家定制爱情V记录Exclusive custon love documentary 你们之间爱的小细节，让幕色用纪录片的方式为你记录爱情纪录片绝不是简单的记录，而是记实与艺术的完美结合是对细节和真情流露的敏锐捕捉，','在新娘课堂中，张海利院长介绍到韩式新娘的妆容造型主要就是要卸下浓妆的束缚，透出肌肤生命力，打造出如抛光般的自然裸妆，感觉好像是皮肤本身散发出的光泽，这款妆容叫做空气妆','2014年8月17日，上海中亚美爵酒店举行了一场神秘梦幻的韩式新娘课堂体验活动，这次活动由韩国幕色婚纱摄影和韩国香奈儿首席造型师张海利院长联合举办，旨在让广大即将走入婚姻殿堂的']
                },
                methods:{
                    srca:function(){
                        var oImg=$('.img');
                        var aUl=$('.ul-1');
                        oImg.attr('src','../images/z-1.jpg');
                        aUl.hide();
                        aUl.eq(0).show();

                    },
                    srcb:function(){
                        var oImg=$('.img');
                        var aUl=$('.ul-1');
                        oImg.attr('src','../images/z-2.jpg');
                        aUl.hide();
                        aUl.eq(1).show();

                    },
                    srcd:function(){
                        var oImg=$('.img');
                        var aUl=$('.ul-1');
                        oImg.attr('src','../images/z-3.jpg');
                        aUl.hide();
                        aUl.eq(2).show();

                    },
                    srcf:function(){
                        var oImg=$('.img');
                        var aUl=$('.ul-1');
                        oImg.attr('src','../images/z-4.jpg');
                        aUl.hide();
                        aUl.eq(3).show();
                    },
                  //     anmite都是阴影
                    change:function(i){
                        var aList=$('.list-2');
                        var oN=$('.on');
                        aList.eq(i).css('color','#000');
                        oN.eq(i).stop().animate({'top':0},500);
                    },
                    remove(i){
                        var aList=$('.list-2');
                        var oN=$('.on');
                        aList.eq(i).css('color','#bdbdbd');
                        oN.eq(i).stop().animate({'top':400},500);
                    },
                    add:function(i){
                        var iN=$('.in');
                        var aList=$('.list-3');
                        aList.eq(i).css('color','#000');
                        iN.eq(i).stop().animate({'top':0},500);
                    },
                    show(i){
                        var aList=$('.list-3');
                        var iN=$('.in');
                        aList.eq(i).css('color','#bdbdbd');
                        iN.eq(i).stop().animate({'top':400},500);
                    },
                    on:function(i){
                        var aList=$('.list-4');
                        var oUt=$('.out');
                        aList.eq(i).css('color','#000');
                        oUt.eq(i).stop().animate({'top':0},500);
                    },
                    off(i){
                        var aList=$('.list-4');
                        var oUt=$('.out');
                        aList.eq(i).css('color','#bdbdbd');
                        oUt.eq(i).stop().animate({'top':400},500);
                    }
                }
            });
        });
    </script>
</head>
<body>
    <a href="Registration discount.html" class="r-aa">报名优惠</a>
    <header class="head">
    <ul class="h1 clearfix">
        <li class="fl h3">
            <b class="fl"></b>
            <a href="youhui.html" class="fl">最新团购&nbsp&nbsp|</a>
        </li>
        <li class="fl">
            <b class="fl h4"></b>
            <a href="#" class="fl">微电影&nbsp&nbsp|</a>
        </li>
        <li class="fl">
            <b class="fl h5"></b>
            <a href="javascript:;" class="fl">电子杂志&nbsp&nbsp|</a>
        </li>
        <li class="fl">
            <b class="fl h6"></b>
            <a href="ContactUs.html" class="fl">联系我们&nbsp&nbsp|</a>
        </li>
    </ul>
    <ul class="h2 clearfix inner">
        <li class="fl">
            <h1>
                <a href="../index.html">慕色</a>
            </h1>
        </li>
        <li class="fl h7">
            <div class="fl re hh7">
                <a href="../index.html" class="ab a1">网站首页</a>
                <p class="ab a2">HOME</p>
            </div>
            <b class="fl"></b>
        </li>
        <li class="fl h7">
            <div class="fl re hh7">
                <a href="works show.html" class="ab a1">作品展示</a>
                <p class="h8 ab a2">SHOWCASE</p>
            </div>
            <b class="fl"></b>
        </li>
        <li class="fl h7">
            <div class="fl re hh7">
                <a href="youhui.html" class="ab a1">优惠活动</a>
                <p class="ab a2">NEWS</p>
            </div>
            <b class="fl"></b>
        </li>
        <li class="fl h7">
            <div class="fl re hh7">
                <a href="AboutMousse.html" class="ab a1">关于慕色</a>
                <p class="h9 ab a2">ABOUT US</p>
            </div>
            <b class="fl"></b>
        </li>
        <li class="fl h7">
            <div class="fl re hh7">
                <a href="dp.html" class="ab a1">客户点评</a>
                <p class="h10 ab a2">COMMENTS</p>
            </div>
            <b class="fl"></b>
        </li>
        <li class="fl h7">
            <div class="fl re hh7">
                <a href="Online booking.html" class="ab a1">在线预约</a>
                <p class="h11 ab a2">M-CULUB</p>
            </div>
            <b class="fl"></b>
        </li>
    </ul>
</header>
    <div class="h12"></div>
<!-- 头 -->
    <div class="sec1 re">
    <div style="position:relative;" class="secc">
        <img class="hide-1" src="../images/q1.jpg" alt="" style="display:block;"/>
        <img class="hide-1" src="../images/q2.jpg" alt="" />
        <img class="hide-1" src="../images/q3.jpg" alt="" />
        <p class="left-1"></p>
        <p class="right-1"></p>
    </div>
    <p class="ab sec2"></p>
    <div class="sec3 ab inner clearfix">
        <div class="fl sec4">
            <img src="../images/q7.png" alt="" />
            <div>
                <div class="sec5 clearfix">
                    <b class="fl"></b>
                    <a href="javascript:;" class="fl">预约进店</a>
                    <input type="text" name="" class="sec6 fl" value="手机号" id="sec6"/>
                    <input type="button" name="" value="提交 " class="sec7 fl" id="sec7"/>
                </div>
                <ul class="sec8 clearfix">
                    <li class="fl ab">
                        <i class="ab"></i>
                        <a href="javascript:;" class="ab">进店礼</a>
                    </li>
                    <li class="fl ab sec9">
                        <i class="ab"></i>
                        <a href="javascript:;" class="ab">选单礼</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fl se1">
            <div class="clearfix">
                <img src="../images/q8.png" alt="" class="fl"/>
                <div class="fl se2">
                    <div class="clearfix se6">
                        <img src="../images/q12.png" alt="" class="se3 fl"/>
                        <img src="../images/q13.png" alt="" class="se4 fl"/>
                    </div>
                    <img src="../images/q18.png" alt="" class="se5"/>
                </div>
            </div>
            <ul class="clearfix">
                <li class="fl">
                    <img src="../images/q14.png" alt=""/>
                </li>
                <li class="fl">
                    <img src="../images/q15.png" alt="" class="se7"/>
                </li>
                <li class="fl">
                    <img src="../images/q16.png" alt=""/>
                </li>
            </ul>
            <div class="se7 clearfix">
                <div class="se8 fl">
                    <img src="../images/q17.png" alt="" class="se9" />
                    <p>15802199862</p>
                </div>
                <div class="se8 fl se10">
                    <img src="../images/q19.png" alt="" class="se9" />
                    <p>am 09:00-pm22:00</p>
                </div>
            </div>
        </div>
    </div>
</div>
    <section  >
        <div class="t-in" id="box" v-cloak >
            <div class="relative">
                <img class="img" src="../images/z-1.jpg"/>
                <div class="op-1" @click="srca"></div>
                <div class="op-2" @click="srcb"></div>
                <div class="op-3" @click="srcd"></div>
                <div class="op-4" @click="srcf"></div>
            </div>
            <!--第1个开始-->
            <ul class="clearfix ul-1"  style="display:block;">
                <li class="li-1 fl" v-for="(v,i) in arr" @mouseenter="change(i)" @mouseleave="remove(i)">
                    <img class="list-1" :src="arr1[i]"  :alt="onload"/>
                    <p class="list-2">{{v}}</p>
                    <div class="hide"></div>
                    <div class="on">
                        <p class="p1">MUSE STUDIO</p>
                        <p class="p2">幕色摄影</p>
                    </div>

                </li>
                <li>
                    <p class="num-1">共1页9条记录</p>
                </li>
            </ul>
            <!--第1个结束-->
            <!--第2个开始-->
            <ul class="clearfix ul-1"   style="display:none;" >
                <li class="li-1 fl" v-for="(v,i) in arr2" @mouseover="add(i)" @mouseout="show(i)">
                    <img class="list-1" :src="arr3[i]"  :alt="onload"/>
                    <p class="list-3">{{v}}</p>
                    <div class="hide"></div>
                    <div class="in">
                        <p class="p1">MUSE STUDIO</p>
                        <p class="p2">幕色摄影</p>
                    </div>
                </li>
                <li class="clearfix">
                    <p class="fl page-1" style="margin-left:530px;">首页</p>
                    <p class="fl page-1">1</p>
                    <p class="fl page-1">2</p>
                    <p class="fl page-1">3</p>
                    <p class="fl page-1">4</p>
                    <p class="fl page-1">5</p>
                    <p class="fl page-1">6</p>
                    <p class="fl page-1">下一页</p>
                    <p class="fl page-1">末页</p>
                    <p class="fl page-2" style="border:none;">共6页104条</p>
                </li>
            </ul>
            <!--第2个结束-->
            <!--第3个开始-->
            <ul class="clearfix ul-1"   style="display:none;" >
                <li class="li-1 fl" v-for="(v,i) in arr4" @mouseover="on(i)" @mouseout="off(i)">
                    <img class="list-1" :src="arr5[i]"  :alt="onload"/>
                    <p class="list-4">{{v}}</p>
                    <div class="hide"></div>
                    <div class="out">
                        <p class="p1">MUSE STUDIO</p>
                        <p class="p2">幕色摄影</p>
                    </div>
                </li>
                <li>
                    <p class="num-1">共1页6条记录</p>
                </li>
            </ul>
            <!--第3个结束-->
            <!--第4个开始-->
            <ul  class="ul-1"  style="display:none;">
                <li class="clearfix mov" v-for="(v,i) in arr6" >
                    <img class="mov-1 fl" :src="arr7[i]" :alt="onload"/>
                    <div class="fl mov-3">
                        <img :src="img"  :alt="onload"/>
                        <p class="mov-2">{{v}}</p>
                        <p class="mov-4">{{arr8[i]}}</p>
                        <a class="mov-5" href="#">{{arr9[i]}}</a>
                    </div>

                </li>
                <li class="clearfix">
                    <p class="fl page-1" style="margin-left:530px;">首页</p>
                    <p class="fl page-1">1</p>
                    <p class="fl page-1">2</p>
                    <p class="fl page-1">下一页</p>
                    <p class="fl page-1">末页</p>
                    <p class="fl page-2" style="border:none;">共2页21条</p>
                </li>
            </ul>
            <!--第4个结束-->
        </div>


    </section>
    <div class="foot">
        <div class="foot-1">
            <div class="phone">
                <b>
                    <a href="#">
                        <em>400-</em>60962098
                    </a>
                </b>
            </div>
            <div class="add">
                <a href="#">
                    <b>人民广场店：上海市黄浦区西藏中路290号和平影都7楼（近来福士广场）</b>
                    </br>
                    <b>宝山店：上海市宝山区淞兴西路76号F栋</b>
                </a>
            </div>
            <div class="share">
                <ul class="clearfix">
                    <li>
                        <a href="#">
                            <i class="C_img_1">
                                <img src="../images/C_bg38.gif" alt=""/>
                            </i>
                            <i class="C_img_2">
                                <img src="../images/C_bg09.png" alt=""/>
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="C_img_1">
                                <img src="../images/C_bg38.gif" alt=""/>
                            </i>
                            <i class="C_img_2">
                                <img src="../images/C_bg10.png" alt=""/>
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="C_img_1">
                                <img src="../images/C_bg38.gif" alt=""/>
                            </i>
                            <i class="C_img_2">
                                <img src="../images/C_bg11.png" alt=""/>
                            </i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="ontop clearfix">
                <a href="#">
                    <i class="C_img_3 fl">
                        <img src="../images/C_bg35%20(1).gif" alt=""/>
                    </i>
                    <i class="C_img_4 fl">
                        <img src="../images/C_bg35%20(2).gif" alt=""/>
                    </i>
                </a>
            </div>
        </div>
        <div class="foot-nav">
            <div class="cccc">
                <img src="../images/C_logo.png" alt=""/>
            </div>
            <ul>
                <li>
                    <a href="../index.html">
                        <i>HOME</i>
                        <b>首页</b>
                    </a>
                </li>
                <li>
                    <a href="AboutMousse.html">
                        <i>ABOUT US</i>
                        <b>关于我们</b>
                    </a>
                </li>
                <li>
                    <a href="works show.html">
                        <i>SHOWCASE</i>
                        <b>作品展示</b>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i>NEWS</i>
                        <b>新闻活动</b>
                    </a>
                </li>
                <li>
                    <a href="works show.html">
                        <i>LOCATIONS</i>
                        <b>客片展示</b>
                    </a>
                </li>
                <li>
                    <a href="ContactUs.html">
                        <i>SERVICE</i>
                        <b>服务报价</b>
                    </a>
                </li>
                <li>
                    <a href="ContactUs.html">
                        <i>CONTACT</i>
                        <b>联系我们</b>
                    </a>
                </li>
                <li>
                    <a href="Online booking.html">
                        <i>F&Q</i>
                        <b>在线咨询</b>
                    </a>
                </li>
            </ul>
        </div>
        <div class="ltd">
            <p>版权所有 ©2010-2014  <a href="ContactUs.html">网站地图</a>  技术支持：上海韩国慕色婚纱摄影网络宣传中心   沪ICP备1202946</p>
            <i>
                Copyright  ©2010-2015 MUSE STUDIO photography studio, technical support: Shanghai Han Guomu color wedding photography Network Advocacy Center.
            </i>
        </div>
    </div>
</body>
</html>